/*-------------------------------------NAVIGATION BAR-------------------------*/
.navigationBar {
        color: #fff;
        background-color:#3EB489;
}

.navbar-container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
}

.round-image-container{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.rounded-image {
    border-radius: 50%; 
    width: 50%;
    height: 30%;
    object-fit: cover;
    border: 2px solid #333;
    border: 1px solid #000; 
}

.main-title{
    display: flex;
    justify-content: space-between;  
    width: 20%;
}

.menu{
    font-size: larger;
    width: 20%;
}

.menu ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li { 
    display: inline;
    margin-right: 4%; 
}

.menu ul li:last-child { 
    margin-right: 0; 
}

.menu ul li a { 
    color: #fff; 
    text-decoration: none; 
}

.menu ul li:hover{ 
    text-decoration: underline;
}
/*------------------------------END OF NAVIGATION BAR-------------------------*/

/*-------------------------------INDEX BODY-----------------------------------*/



.intro {
    background: linear-gradient(to right, white, #7B3F00);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.1%;
    margin-top: 0.1%;    
    min-height: 80vh;
    padding: 0 5%;
}

.ice-cream-title {
    color: green;
    font-size: 580%;
    font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
}

.title{
    
   flex: 1;
   margin-right: 5%;
   text-align: center
}

.ice-cream-text{
    font-size: large;
    font-weight: bold;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
}

.ice-cream-image-hover{
    max-width: 40%;
    
}

.cool-hover{
    width: 100%;
    height: auto;
    transition: transform 0.9s ease;
}

.cool-hover:hover {
    transform: scale(1.6);
}

/*----------------------------END OF INDEX BODY-------------------------------*/

/*----------------------------HISTORY------------------------------------------*/
.main-history{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    height:100%;
    background-image: url(../images/chocolate.jpg), url(../images/menta.jpg);
    background-position: left top, right top;
    background-size: 50% 100%, 50% 100%; 
    background-repeat: no-repeat, no-repeat; 
    background-attachment: fixed, fixed;
    box-sizing: border-box;
  
}
.content {
    display: flex;
    max-width: 1200px;
    margin: 2em auto;
    padding: 1em;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url(/images/ice_cream1.jpg), url(images/logo.jpg);
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    flex: 1;
    margin-right: 2em;
    overflow: hidden;
    position: relative;
}

.carousel img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.carousel img:first-child {
    opacity: 1;
}

.text-content {
    flex: 1;
    background:transparent;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 102%;
    letter-spacing: 0.03em;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
}

@keyframes carousel {
    0% { opacity: 1; }
    20% { opacity: 1; }
    25% { opacity: 0; }
    95% { opacity: 0; }
    100% { opacity: 1; }
}

.carousel img:nth-child(1) {
    animation: carousel 16s infinite;
}

.carousel img:nth-child(2) {
    animation: carousel 16s infinite 4s;
}

.carousel img:nth-child(3) {
    animation: carousel 16s infinite 8s;
}

.carousel img:nth-child(4) {
    animation: carousel 16s infinite 12s;
}

/*----------------------------END OF HISTORY------------------------------------------*/

/*-------------------------------RECIPE-----------------------------------------------*/

.recipe-content {
    background: linear-gradient(to right, white, #7B3F00);
    

    
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.recipe {
    flex: 1;
    margin-right: 20px;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
}

.video {
    flex: 1;
    padding: 4%;
    
}

video {
    
    width: 100%; 
    height: auto; 
}


.icon-button {
    background-color: transparent;

    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: visible;
    z-index: 1000;
    bottom: 10%;
    left: 0;
}

.icon-button svg {
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: move 20s ease-in-out infinite;
    pointer-events: auto;
    z-index: 1000;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(100vw - 100px));
    }
    100% {
        transform: translateX(0);
    }
}



/*---------------------------END OF RECIPE--------------------------------------------*/

/*-------------------------------------FOOTER----------------------------------*/
.footerBar{
    background-color: #7B3F00;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rounded-image-footer {
    border-radius: 50%; 
    width: 50%;
    height: 30%;
    object-fit: cover;
    border: 2px solid #333;
}

.footer-container{
    padding: 1% 2%;
    width: 20%;
    display: flex;
   
    
}

.footer-company {
    margin-top: 2%;
    width:30%;
    text-wrap: wrap ;
}

.footer-contact{
  
  margin-right: 5%;
}

.form-group, .footer-contact{
    padding-right: 2.9%;
}
.form-group label {
    display: block;
}

.form-group input {
    width: 100%;
    padding: 2%;
    border: 1px solid #ddd;
    border-radius: 4px;
}



button {
    background-color: black;
    color: #fff;
    padding: 10px 15px; 
    border-radius: 4px;
    cursor: pointer;
    margin-bottom:4px;
}

button:hover {
    background-color: #666;
}

